<h1>Đổi mật khẩu</h1>
<p-card>
  <form [formGroup]="formPassword" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-7">
        <img src="assets/images/alan.png" alt="Avatar"
             style="width:200px; border-radius: 50%;float:right;   margin-bottom: 20px;">
      </div>

<!--      <div class="col-md-5">-->
<!--        <button class="btn btn-primary"-->
<!--                style="margin-top: 20%;"-->
<!--        >Change Avatar</button>-->
<!--      </div>-->

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="row">
          <label class="label col-3 col-form-label">UserName</label>
          <div class="col-9">
            <input type="text" pInputText class="form-control" disabled formControlName="username" >

          </div>
        </div>

      </div>


    </div>

    <div class="form-row" style="margin-bottom: 20px;">
      <div class="col-md-6">
        <div class="row">
          <label class="label col-3 col-form-label">Password</label>
          <div class="col-9">
            <input (blur)="blur()"  (focus)="forcus()" type="text" pInputText class="form-control" formControlName="password">
            <div *ngIf="this.formPassword.controls.password.invalid && (this.formPassword.controls.password.dirty||this.formPassword.controls.password.touched) ">

              <div *ngIf="this.formPassword.controls.password.errors">
                <div *ngIf="this.formPassword.controls.password.errors.pattern" >
                  <small  class="form-text text-muted" style="color: red !important;">Không đúng định dạng</small>
                </div>
                <div *ngIf="this.formPassword.controls.password.errors.required" >
                  <small  class="form-text text-muted" style="color: red !important;">Không được để trống</small>
                </div>
                <div *ngIf="this.formPassword.controls.password.errors.minlength||this.formPassword.controls.password.errors.maxlength" >
                  <small class="form-text text-muted" style="color: red !important;">password phải từ 6-10 ký tự</small>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="row">
          <label class="label col-3 col-form-label">Comfirm Password</label>
          <div class="col-9">
            <input (blur)="blur()"  (focus)="forcus()" type="text" pInputText class="form-control" formControlName="ComfirmPassword" >

            <div class="text-danger pt-1"  *ngIf="formPassword.controls.ComfirmPassword.errors
                                   && formPassword.controls.ComfirmPassword.touched && togger || submited" >
              <div *ngIf="formPassword.controls.ComfirmPassword.errors?.required">Nhập lại mật khẩu không được để trống</div>
            </div>
            <div class="text-danger pt-1"  *ngIf=" formPassword.errors && !formPassword.controls.ComfirmPassword.errors
                                    && togger">
              <div *ngIf="formPassword.errors ">Không trùng với mật khẩu xin nhập lại</div>
            </div>

          </div>
        </div>

      </div>
    </div>


    <div class="col-md-12">
      <button class="btn btn-primary" style="float: right;" type="submit">Thay đổi</button>
    </div>

  </form>
  <ng-template pTemplate="footer">
<!--    Chân trang trình bày tại đây !-->
  </ng-template>
</p-card>
